div.wrapperDiv{
    width: 100%;
    height: 100%;
    margin: auto;
}

.myTable {
    border-collapse: collapse;
    margin: auto;
}
table.myTable tr td {
    border: 1px solid black;
}
table.myTable td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15pt;
    user-select: none;
}

td.number0cell {
    background-color: #bebebe;
}